html{
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    background-color: antiquewhite;
}

header{
    background-color: #cc5350;
    color: white;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-family: sans-serif;
}

main{
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

#main__background{
    background: url("https://wallpaperaccess.com/full/3551101.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 8%;
}

#main__img_holder{
    margin-bottom: 40px;
    margin-top: 20px;
}

.hidden {
    filter: brightness(0);
    max-width: 80%;
}

.revealed{
    max-width: 80%;
}

#main__choices_holder{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 12px;
    margin: 0 auto;
}

.choice{
    height:35px;
    width:auto;
    border-radius: 30px;
    background-color: turquoise;
    border:none;
    color:white;
    text-shadow: 5px;
    font-size: 2.6rem;
    gap: 15px;
}

#main__boton_jugar{
    margin-top: 80px;
    padding: 12px;
    height: 50px;
    width:auto;
    border-radius: 30px;
    background-color: #cc5350;
    border:none;
    color:white;
    text-shadow: 5px;
    font-size: 2.6rem;
    gap: 15px;
}